include ../partials/header.pug
script.
  party = !{JSON.stringify(party)}
h1 Qui prend quoi ?
h2= party.name
h3 Événement créé par <span>#{party.author}</span>

div.party_container

  form(method="post" action=`/party/${party._id}/items`)
    div.newParty__fields
      label(for="name") Nom de l'item
      input(name="name" id="name" required minlength="3" placeholder="champagne")
      label(for="user") Votre pseudo
      input(name="user" id="user" required minlength="3" placeholder="Louis")
    button(type="submit" data-notify) Ajouter

  div.newParty__fields.share
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}`)

  ul
    each item in party.items
      form(method="post" action=`/party/${party._id}/items/${item._id}`)
        div
          button(type="submit" data-notify-item=`${item.name}`).suppr_item x
          li #{item.name}